body {
    background-color: #C2D1CF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    padding-bottom: 60px;
}
nav{
    padding-top: 10px;
    border: solid black 2px;
    border-radius: 10px;
    width: 160px;
    height: 150px;
    position: fixed;
    background-color: #E2DFDA;
    font-size: 1.2em;
    
}
#center{
    padding: 2px 0 2px 0;
    transition: all 0.8s;
}
#center:hover{
    background-color: #E2DFDA;
    border-radius: 20px;
    font-size: 1.15em;
    transition-duration: 0.6s;

}
#clash{
    width: 600px;
}
a{
    text-decoration: none;
}
nav:hover{
    background-color: #FBD694;
}
li{
    transition: all 0.6s;
}
li:hover{
    font-style: bolder;
    font-size: 1.3em;
}
ul{
    list-style: none;
}
h1{
    padding-top: 20px;
    font-size: 3em;
    text-decoration: underline;
}
h1:hover{
    color: #C7A137;
}
h2{
    color: grey;
}

form{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
#log{
    width: 150px;
    height: auto;
    padding-top: 50px;
}
